.battlefield {
    float: left;
    width: 404px;
	height: 410px;
	margin: 20px 0px 60px 50px;
}

.table-name {
    text-align: center;
    margin-bottom: 30px;
    font-size: 20px;
}

#enemy-table {
    color: rgb(209, 58, 58);
}

.columns-name {
    margin-left: 33px;
    width: 371px;
    height: 23px;
}

.column-name {
    float: left;
    text-align: center;
    font-size: 18px;
    width: 37px;
    height: 23px;
}

.fields-name {
    margin-top: 9px;
    padding-right: 10px;
    float: left;
    width: 20px;
    height: 365px;
}

.field-name {
    float: left;
    width: 20px;
    height: 37px;
    text-align: right;
    font-size: 18px;
}

.game-fields {
    margin-left: 30px;
    width: 370px;
    height: 370px;
    border: 2px solid;
}