.side-panel {
    position: fixed;
    margin-left: 68%; 
    float: right;
    width: 32%;
    height: 100%;
    background-color: rgb(232, 240, 240);
    padding-top: 100px;
    border-left: 1px inset rgb(228, 227, 227);
    z-index: 99;
}

.buttons {
    width: 80%;
    margin: 20px 5%;
}

#ready-button, .random-placement, .give-up {
    font-size: 17px;
    padding: 3px 5px;
    margin: 10px auto;
    display: block;
}

.give-up {
    color: rgb(204, 53, 53);
}

#disabled {
    color: rgb(172, 168, 168);
}