.register-page {
    margin: 100px 28% 0px 28%;
    padding: 20px;
    width: 40%;
    background-color: rgb(204, 205, 211);
    border-radius: 25px;
}

.register-page .register-title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.sign-up input {
    display: block;
    margin: 10px 7%;
    border-radius: 5px;
    border: 1px solid gray;
}

.sign-up .value {
    font-size: 17px;
    height: 30px;
    width: 80%;
    padding: 3px 10px;
    border: 1px solid gray;
}

.sign-up .submit-register {
    padding: 8px;
    font-size: 20px;
    width: 85%;
    margin-top: 20px;
    background-color: rgb(31, 99, 224);
    color: aliceblue;
}

.sign-up .submit-register:hover {
    background-color: rgb(17, 36, 211);
}

.separation {
    height: 1px;
    background-color: rgb(104, 102, 102);
    width: 85%;
    margin: 20px 7%;
}

.login {
    text-align: center;
    font-size: 17px;
}

.login .login-link {
    color: blue;
    margin-left: 5px;
}

.login .login-link:hover {
    color: rgb(14, 28, 160);
}

.register-page .sign-up .error {
    color: red;
}

.info-to-activate {
    text-align: center;
    font-size: 19px;
    margin: 30% 0px 15px 0px;
}

.reg-block {
    text-align: center;
}

.reg-block .label {
    font-size: 19px;
    margin-right: 20px;
}

.reg-block .value {
    font-size: 18px;
    width: 60%;
    padding: 3px;
    border: 1px solid;
    border-radius: 5px;
}

.reg-block .er-value {
    border-color: red;
}

.activate-error {
    color: red;
    margin-top: 10px;
    text-align: center;
    font-size: 17px;
}

.reg-button {
    text-align: right;
    margin-top: 15px;
}

.reg-button .back {
    font-size: 16px;
    padding: 2px 15px;
}

.reg-button .submit {
    font-size: 16px;
    padding: 2px 15px;
    margin: 0px 10% 0px 20px;
}