.side-panel {
    position: fixed;
    margin-left: 68%; 
    float: right;
    width: 32%;
    height: 100%;
    background-color: rgb(232, 240, 240);
    padding-top: 100px;
    border-left: 1px inset rgb(228, 227, 227);
    z-index: 99;
}

#is-ready {
    width: 80%;
    margin: 20px 5%;
    text-align: center;
}

.ready-button {
    font-size: 17px;
    padding: 3px 5px;
}

.pre-ready-button {
    font-size: 19px;
    opacity: 0.8;
}

.random-placement {
    margin-left: 40px;
    font-size: 17px;
    padding: 3px 5px;
}