.column {
    float: left;
}

.field {
    width: 35px;
    height: 35px;
    border: 1px solid rgb(206, 197, 197);
    
}

.empty-field, .space-field {
    background-color: #e2e7e7;
}

.miss-shoot-field {
    background-color: rgb(35, 35, 192);
}

.hit-shoot-field {
    background-color: rgb(190, 47, 47);
}

.ship-field {
    background-color: #4382f7;
}

#field:hover {
    background-color: rgb(84, 205, 226);
    cursor: pointer;
}