.not-found-page {
    position: absolute;
    top: 30%;
    left: 30%;
}

.not-found-page .code {
    text-align: center;
    font-size: 60px;
}

.not-found-page .detail {
    text-align: center;
    font-size: 25px;
}